{% extends 'calendarapp/base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
<nav class="nav-bar">
    <div class="menu-icon">
      <span class="fas fa-bars">
      </span></div>
      <div class="logo">
      webILICIOUS</div>
      <div class="nav-items">
      <li><a href="{% url 'home' %}">Home</a></li>
      
      
      <li><a href="{% url 'calendarapp:calendar' %}">Calendar </a></li>
      <li><a href="{% url 'calendarapp:event_new' %}">Create Event</a></li>
      <li><a href="{% url 'calendarapp:event_edit' event.pk %}">Edit Event </a></li>
      <li><a href="{%url 'logout'%}">logout</a></li>
      
      
      </div>
      <div class="search-icon">
      <span class="fas fa-search"></span></div>
      <div class="cancel-icon">
      <span class="fas fa-times"></span></div>
      <form action="#">
              <input type="search" class="search-data" placeholder="Search" required>
              <button type="submit" class="fas fa-search"></button>
          </form>
      </nav>
      {%for message in messages%}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
     <strong>message:</strong> {{ message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div> 
   {% endfor %}
    <div class="container">
        <div class="clearfix">
           
        </div>
        
        
        <div class="clearfix">
            <h3>Event Name: {{ event.title }}</h3>
            <p>From <span style="color: gray;">{{ event.start_time }}</span> To <span style="color: gray;">{{ event.end_time }}</span></p>
            <hr>
            <p>About Event:{{ event.description }}</p>
            <h4>Amount:{{ event.amount }}</h4>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" > Members of this Event</h4>
           
            <a class="btn btn-success right" href="{% url 'calendarapp:add_eventmember' event.id %}"> Add Member </a>
           
        </div>
        <!--<table class="table table-bordered">-->
        <div class="  mt-5 table-responsive">
        <table class="table table-hover table-dark  " style="background-color:black" >
            <thead>                  
                <tr>
                  <th style="width: 10px">S.No.</th>
                  <th>Name</th>
                  <th>Email</th>
                  
                  <th>Payment Status</th>
                  <th>Action</th>
            
                </tr>
              </thead>
              <tbody>
                {% for member in eventmember %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                  <!--  <td>{{ member.user.first_name }} {{ member.user.last_name }}</td> -->
                    <td>{{ member.user.username }}</td>
                    <td>{{ member.user.email }}</td>
                    
                    <td><a class="btn btn-info text-white" href="{% url 'calendarapp:remove_event' member.id %}">Amount Status</a></td>
                    <td>
                        <a class="btn btn-danger text-white" href="{% url 'calendarapp:remove_event' member.id %}">Remove</a>
                    </td>
                   
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
    
           
{% endblock %}