{% extends 'user/base.html' %}
{% load static %}
{% block head %}
<style>
body
{
        background-image: url("{% static 'img/e5.jpg' %}");
}
</style>
{% endblock head %}
{% block body %}
<font color="white">
<div class="container  my-5">
        <table class="table table-striped">
                <thead>
                        <tr>
                                <th scope="col"><font color="white">Name of Event</font></th>
                                <th scope="col"><font color="#FFFF00">{{event.name}}</font></th>
                        </tr>
                </thead>
                <thead>
                        <tr>
                                <th scope="col"><font color="white">Description</font></th>
                                <th scope="col" class="{% cycle 'row1' 'row2' %}"><font color="#FFFF00">
                                        {{event.description}}</font></th>
                        </tr>
                </thead>
                <thead>
                        <tr>
                                <th scope="col"><font color="white">Event Fees</font></th>
                                <th scope="col"><font color="#FFFF00">{{event.fees}}</font></th>
                        </tr>
                </thead>
                <thead>
                        <tr>
                                <th scope="col"><font color="white">Date Created</font></th>
                                <th scope="col"><font color="#FFFF00">{{event.dateCreated}}</font></th>
                        </tr>
                </thead>
                <thead>
                        <tr>
                                <th scope="col"><font color="white">Date Hosting</font></th>
                                <th scope="col"><font color="#FFFF00">{{event.dateHost}}</font></th>
                        </tr>
                </thead>
                

        </table>


        <table>
                <thead>
                        <tr>
                                


{% if  event.hoster_id == item.id %}
                                <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger mx-2" data-toggle="modal"
                                                data-target="#exampleModal">
                                                Delete Event
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                                <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                                Are you sure you want to delete this job?</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                </div>
                                                                
                                                                <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                        <a href="{%url 'deleteEvent' event.id %}"
                                                                                class="btn btn-danger">
                                                                                Delete</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </td>
                                {% else %}
                                <td>
                                       <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-info mx-2" data-toggle="modal"
                                                data-target="#exampleModal">
                                                ADD TO WISHIST
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                                <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                                Do you wish to be part of this event?</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                </div>
                                                                
                                                                <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                        <a href="{%url 'addMember' event.id %}"
                                                                                class="btn btn-info">
                                                                                Add member</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </td>


{% endif %}
                        </tr>
                </thead>
        </table>
</div>

</font>

{% endblock body %}