
{% extends 'user/base.html' %}
{% load static %}
{% block head %}
<title>home</title>
<style>
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("{% static 'img/e4.png' %}");
    background-size: cover;
    background-positionL bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner #text{
    position: relative;
    font-size: 12em;
    color: #00FFFF;
}
.banner .clouds
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; 
}
.banner .clouds img{
    position:absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
}
@keyframes animate{
    0%
        {
            opacity: 0;
            transform: scale(1);
        }
    25%,75%
        {
            opacity: 1;
        }
        100%
            {
                 opacity: 0;
                 transform: scale(3);
            }
}
section{
    position:relative;
    padding: 75px 100px;
    background-color:#00FFFF;
}
section h2{
    position: relative;
    font-size: 2.5em;
    margin-bottom: 20px;
}
</style>
{% endblock head %}
{% block body %}
<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Want To Apply As Ambassdor
</button>
<form class="contact-form" action="{% url 'apply' %}" method="post">
          {% csrf_token %}
<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        want to apply as campus ambassdor?
        * --- *
      </div>
      <div class="modal-footer">
        
        <input type="submit" class="btn btn-info" value="apply">
      </div>
    </div>
  </div>
</div>
</form>
<div class="banner">

<h2 id="text">The Big Bash</h2>
<div class="clouds">
<img src="{% static 'img/cloud1.png' %}" style="--i:1;">
<img src="{% static 'img/cloud2.png' %}" style="--i:2;">
<img src="{% static 'img/cloud3.png' %}" style="--i:3;">
<img src="{% static 'img/cloud4.png' %}" style="--i:4;">
<img src="{% static 'img/cloud5.png' %}" style="--i:5;">
<img src="{% static 'img/cloud1.png' %}" style="--i:10;">
<img src="{% static 'img/cloud2.png' %}" style="--i:9;">
<img src="{% static 'img/cloud3.png' %}" style="--i:8;">
<img src="{% static 'img/cloud4.png' %}" style="--i:7;">
<img src="{% static 'img/cloud5.png' %}" style="--i:6;">
</div>
</div>
<section>

<h2> welcome to the big bash</h2>
<p>   It was the last Friday of the summer term. The malicious sun was going down and could be seen clearly in the peach evening sky. It was Josh Murphy's birthday party.
He was having a barbeque, and in the surrounding streets the sweet aroma's from the meat sizzling on the barbeque were being carried by the gentle breeze.
The party was beginning to take shape; the music by now could be heard clearly by the neighboring houses. The party seemed to be hotting up well. People were getting into the groove, the atmosphere was full of relief, excitement and promise. Everyone looking forward to the holiday months, eager to have good time. The entire local crowd was there, those who…show more content…
Amy was Josh's girl friend; Amy offered congratulations in a some what formal manor provoking a sarcastic thank you from Josh, amused by her politeness.
While the happy couple was busy exchanging pleasantries Andrew could not help but notice Amy's friends, one in particular who he hadn't seen before. She had silky blonde hair, dazzling blue eyes, the face of an angel and a smile that could wound many boys' hearts.
Andrew gazed of her for what felt like an eternity.Upon looking around after his brief moment of paralysis Andrew noticed Dan appeared to be suffering form a similar fixation with the divine beauty. She also appeared to notice him as she too was looking at him in a similar way.
Perhaps Dan's energetic out bursts attracted her to him or perhaps it was well brought up, clean cut with corn fed looks. Never the less it was obvious that there was chemistry between them. Dan had a cheeky (I've been bad) grin on his face while she was just looking radiant and curious.</p>
</section>
<script type="text/javascript">
let text=document.getElementById('text');
window.addEventListener('scroll', function(){
    let value = window.scrollY;
    text.style.marginBottom = value*2 +'px';
})
</script>
</body>
{% endblock body %}